html * {
    box-sizing: border-box;
}

#chart {
    width: 1280px;
    position: relative;
}

.chart .axis text {
    font: 10px sans-serif;
}

.chart .axis .domain,
.chart .axis .tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.chart .gridlines {
    stroke: lightgrey;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.chart .ohlc-series path {
    vector-effect: non-scaling-stroke;
    stroke-width: 1.5;
}

.chart .ohlc-series .up-days {
    stroke: green;
}

.chart .ohlc-series .down-days {
    stroke: red;
}

.chart .ohlc-series .bar.up-day {
    stroke: green;
}

.chart .ohlc-series .bar.down-day {
    stroke: red;
}

.chart .candlestick-series .bar path {
    stroke: black;
}

.chart .comparison-series .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;
}

.chart .bar.up-day rect {
    fill: green;
}

.chart .bar.down-day rect {
    fill: red;
}

.chart .zoom-pane {
    fill: none;
    pointer-events: all;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

tspan:nth-child(2n) {
  display: block;
}
